.pickup-tooltip {
  position: relative;
  display: inline-block;
}

.pickup-tooltip .tooltiptext {
  flex-wrap: wrap;
  visibility: hidden;
  width: 120px;
  background-color: white;
  font-size: 0.75em;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 20px 20px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  border: solid 1px gray;
}

.pickup-tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.pickup-tooltip:hover .tooltiptext {
  visibility: visible;
}

#summary {
  width: 12em;
  border-radius: 10px;
  box-shadow: 15px #aaaaaa;
  border: 1px solid #bfbfbf;
  padding: 10px;
  margin: auto;
}

hr {
  width: 90%;
  border-color: rgb(243, 238, 238);
}

button {
  border: none;
  margin: 10px 0;
}
